@use 'variables' as *;

.header {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 999999999;
}

// Top header Start
.top-header {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.12);
}

.top-header h2 {
	color: #fff;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 36px;
}

.top-header h2 a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-right: 10px;
}

.top-header h2 span {
	font-size: 15px;
	font-family: $body-font;
	font-weight: 500;
}

.top-header .btn-dropdown {
	background-color: transparent;
	border: none;
	color: #fff;
	padding: 15px 0;
	position: relative;
	margin-right: 22px;
}

.top-header .btn-dropdown i {
	position: absolute;
	top: 50%;
	right: -22px;
	transform: translateY(-50%);
}

.top-header .desktop-only {
	font-family: $title-font;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	word-spacing: 1px;
}

.top-header .mobile-desktop {
	font-family: $body-font;
	font-weight: 500;
	margin-left: 10px;
}

.top-header button:hover,
.top-header button:active,
.top-header button:focus,
.top-header button:visited {
	background-color: transparent!important;
	box-shadow: none!important;
}

.top-header .table {
	margin-bottom: 0;
}

.top-header .table-borderless th {
	padding-right: 30px;
	font-weight: 600;
}

.top-header .table-borderless th a, .top-header .table-borderless td a {
	color: #fff;
}

.top-header .dropdown-menu {
	padding: 10px;
	background-color: $theme-color-alt;
}
// Top header End

// Main Navbar Start
.main-navbar {
	padding-top: 10px;
	padding-bottom: 10px;
}
.main-navbar .navbar {
	padding: 0;
}

.main-navbar .navbar-toggler:focus {
	outline: none;
}

.main-navbar .navbar-brand img {
	width: 120px;
}

.fixed-top .navbar-brand img {
	width: 60px;
}

.fixed-top {
	padding: 0;
	background-color: $theme-color-alt;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;	
}

.main-navbar .navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: $title-font;
}

.main-navbar .navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	border-bottom: 2px solid $theme-color;
}

.main-navbar .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ddd;
}

.btn-nav-request {
	background-color: $theme-color!important;
	font-family: $title-font;
    color: #fff;
    font-size: 20px!important;
    padding: 9px 15px!important;
    text-transform: uppercase!important;
    font-weight: 600!important;
    border-radius: 3px;
    letter-spacing: 1px!important;
}

.main-navbar .dropdown-menu {
	background-color: $theme-color-alt;
	margin: 0;
	border-top: none;
	border-radius: 0;
}

.main-navbar .dropdown-item {
	color: #fff;
	font-size: 18px;
	font-family: $title-font;
}

.main-navbar .dropdown-item:hover {
	background-color: transparent;
	color: #ddd;
}

.main-navbar .dropdown .nav-link {
	position: relative;
	margin-right: 12px;
}

.main-navbar i.material-icons {
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
}

// Main Navbar End