@use 'variables' as *;

// Hero Section Start
.hero-section {
	padding-top: 250px;
	padding-bottom: 180px;
	position: relative;
	z-index: 0;	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.hero-section::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.hero-text h1 {
	color: #fff;
	font-size: 54px;
	line-height: 65px;
	font-weight: 600;
}

.hero-text p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: 500;
}
// Hero Section End

// Select Tournament Start
.select-tournament {
	padding: 20px 0;
}

.select-tournament .title-default {
	font-size: 30px;
}

.select-tournament .title-helper {
	font-size: 24px;
}

.select-tournament-form {
	background-color: $theme-color;
	padding: 35px;
	margin-top: -100px;
	margin-bottom: -150px;
	z-index: 3;
	position: relative;
}

.select-tournament-form .title-default, .select-tournament-form .title-helper, .select-tournament-form p, .select-tournament-form small {
	color: #fff;
}

.select-tournament-form small {
	font-size: 13px;
	line-height: 18px;
	display: inline-block;
	margin-top: 10px;
}
// Select Tournament End

// Tournaments Start
.tournaments-wrapper {
	margin: 5px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.tournaments-wrapper::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	// background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s;
}

.tournaments-wrapper:hover::after {
	background-color: rgba(0, 0, 0, 0.9);
}

.tournaments-box {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 35px;
	padding-top: 100px;
	z-index: 1;
	transition: 0.5s;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.tournaments-info {
	display: none;
	padding-bottom: 25px;
	transition: 5s;
}

.tournaments-wrapper:hover .tournaments-info {
	display: block;
}

.tournaments-wrapper:hover .tournaments-box {
	background-color: transparent;
}

.tournaments-box h3, .tournaments-box p {
	color: #fff;
}

.tournaments-box h3 {
	font-family: $title-font;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 0.2px;
}

.tournaments-box p {
	font-size: 16px;
	margin-bottom: 18px;
}

.tournaments-box .my-btn-alt {
	border: 2px solid #fff;
	font-size: 15px;
}
// Tournaments End

// Testimonials Start
.testimonials {
	background-image: url('../images/Inferno-Martial-Arts_Footer.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
}

.testimonials::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.testimonials .carousel-item {
	padding-left: 150px;
	padding-right: 150px;
}

.testimonials img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin-bottom: 50px;
}

.testimonials p {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
}

.testimonials h5 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 20px;
}

.testimonials i {
	color: #FCAF17;
}
// Testimonials End

// Request Info Start
.request-info {
	background-color: $theme-color;
}
.request-info p, .request-info .title-default, .request-info .title-helper {
	color: #fff;
}
// Request Info End

// Request Modal Start
#requestModal {
	background-color: rgba(0, 0, 0, 0.9);
}

#requestModal .modal-body {
	padding: 0;
	background-color: $bg-color;
	position: relative;
}

#requestModal .modal-body .close {
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 5;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border-radius: 100%;
	opacity: 1;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.75);
}

#requestModal .modal-body .close span {
	font-size: 20px;
	line-height: 30px;
}

#requestModal .modal-body .close:active,
#requestModal .modal-body .close:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

.request-info-form {
	padding: 15px;
	color: #fff;
	text-align: center;
	background-color: $theme-color;
}

.request-info-form .title-default, .request-info-form .title-helper, .request-info-form p {
	color: #fff;
}

.request-info-form .title-default {
	margin-bottom: 0;
	font-size: 30px;
}

.request-info-form .title-helper {
	font-size: 24px;
}

.request-info-form small {
	line-height: 18px;
	display: inline-block;
	margin-top: 15px;
}

.modal-fb-comments-wrapper {
	padding: 15px;
	max-height: 595px;
	overflow-y: scroll;
}

.modal-fb-comments-wrapper img {
	width: 40px;
	height: auto;
}

.modal-fb-comments-wrapper h5 {
	font-family: $body-font;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	margin-bottom: 0;
}

.modal-fb-comment-box {
	border: 1px solid #e5e6e9;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.modal-fb-comment-box:after {
	content: '';
	width: 100px;
	height: 100px;
	background-image: url('../images/fb-logo.png');
	background-size: cover;
	position: absolute;
	bottom: -30px;
	right: -10px;

}

.modal-fb-comments-wrapper .name-user {
	color: #365899;
	font-weight: 700;
	font-size: 15px;
}

.modal-fb-comments-wrapper .name-page {
	color: #365899;
	font-size: 15px;
	font-weight: 600;
}

.modal-fb-comments-wrapper .star-rating {
	background-color: #5890FF;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
}

.modal-fb-comments-wrapper .star-rating i {
	font-size: 10px;
}

.fb-user-comments {
	font-size: 15px;
	line-height: 19px;
	font-weight: 300;
	color: #000;
	font-family: $body-font;
	margin-top: 10px;
	margin-bottom: 0;
}

// Request Modal End