@use 'variables' as *;

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

    // Home Page Start
    .top-header h2 span {
        display: block;
    }
    .hero-text h1 {
        font-size: 45px;
    }
    .btn-nav-request {
        font-size: 18px!important;
    }
    // Home Page End

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .desktop-only {
        display: none;
    }

    // Home Page Start
    .top-header h2 span {
        display: none;
    }
    .top-header table {
        width: 300px;
    }
    .main-navbar .navbar-light .navbar-nav .nav-link.active {
        border-bottom: none;
    }
    .fixed-top {
        background-color: $theme-color-alt;
    }
    .navbar-collapse {
        background-color: $theme-color-alt;
        padding-bottom: 35px;
    }
    .navbar-light .navbar-toggler {
        color: #ddd;
    }
    .hero-text h1 {
        font-size: 50px;
    }
    .select-tournament-form {
        margin-bottom: inherit;
        margin-top: -150px;
    }
    .select-tournament {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .order-mobile-last {
        order: 1;
    }
    #requestModal .modal-body .close {
        top: -4px;
        right: -4px;
    }
    
    // Home Page End

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

    .my-btn {
        font-size: 18px;
    }

    // Home Start
    .title-default {
        font-size: 25px;
        line-height: 35px;
    }
    .title-helper {
        font-size: 18px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .select-tournament-form {
        margin-top: -190px;
    }
    .testimonials .carousel-item {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-top h3 {
        font-size: 18px;
    }
    .footer-top h5 {
        font-size: 16px;
    }
    .tournaments-box h3 {
        font-size: 20px;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: inherit;
        top: 40px;
    }
    // Home End

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    section {
        padding: 30px 0;
    }

    // Home Start
    .main-navbar .navbar-brand img {
        width: 90px;
    }
    .fixed-top .navbar-brand img {
        width: 60px;
    }
    .hero-section {
        padding-top: 175px;
        padding-bottom: 100px;
    }
    .top-header .mobile-desktop {
        margin-left: 0;
    }
    .top-header h2 a {
        font-size: 15px;
    }
    .hero-text h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .hero-text p {
        font-size: 16px;
    }
    .select-tournament-form {
        margin-top: -160px;
        padding: 20px;
        text-align: center;
        margin-bottom: inherit;
    }
    .testimonials p {
        font-size: 16px;
        line-height: 25px;
    }
    .testimonials h5 {
        font-size: 18px;
    }
}

// Extra small devices (portrait phones, less than 367px)
@media (max-width: 365px) {
    .top-header h2 a {
        font-size: 14px;
    }
    .top-header .mobile-desktop {
        font-size: 13px;
    }
    .hero-text h1 {
        font-size: 30px;
    }
}