// Theme Colors
$bg-color 		        : #f8f9fa;
$theme-color 			: #f20000;
$theme-color-alt 		: #160006;


// General Colors
$color-trans 			: transparent;

// Text Colors
$body-color 		    : #000;
$title-color 		    : #000;

// Fonts
$body-font              : 'Source Sans Pro', sans-serif;
$title-font             : 'Ropa Sans', sans-serif;