body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f9fa;
}

html, body {
  height: 100%;
}

section {
  padding: 60px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Ropa Sans", sans-serif;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

.text-16 {
  font-size: 16px;
}

.form-control {
  padding: 11px;
  height: inherit;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

.form-group {
  margin-bottom: 5px;
}

.bg-white {
  background-color: #fff;
}

.bg-alt {
  background-color: #e9e9e9;
}

.bg-trans {
  background-color: transparent;
}

.title-default {
  font-family: "Ropa Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}

.title-helper {
  font-family: "Ropa Sans", sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 10px;
  font-style: italic;
}

.my-btn {
  background-color: #f20000;
  font-family: "Ropa Sans", sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 9px 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  letter-spacing: 1px;
}

.my-btn:hover {
  background-color: #f20000;
  color: #fff;
}

.my-btn:focus {
  box-shadow: none;
  outline: none;
}

.my-btn-alt {
  background-color: #000;
}

.my-btn-alt:hover {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px #000 inset;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 999999999;
}

i.material-icons {
  vertical-align: middle;
}

.top-header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.top-header h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 36px;
}

.top-header h2 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-right: 10px;
}

.top-header h2 span {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}

.top-header .btn-dropdown {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 15px 0;
}

.top-header .desktop-only {
  font-family: "Ropa Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-style: italic;
  word-spacing: 1px;
}

.top-header .mobile-desktop {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

.top-header button:hover,
.top-header button:active,
.top-header button:focus,
.top-header button:visited {
  background-color: transparent !important;
  box-shadow: none !important;
}

.top-header .table {
  margin-bottom: 0;
}

.top-header .table-borderless th {
  padding-right: 30px;
  font-weight: 600;
}

.top-header .table-borderless th a, .top-header .table-borderless td a {
  color: #fff;
}

.top-header .dropdown-menu {
  padding: 10px;
  background-color: #160006;
}

.main-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-navbar .navbar {
  padding: 0;
}

.main-navbar .navbar-toggler:focus {
  outline: none;
}

.main-navbar .navbar-brand img {
  width: 100px;
}

.fixed-top .navbar-brand img {
  width: 60px;
}

.fixed-top {
  padding: 0;
  background-color: #160006;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-navbar .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Ropa Sans", sans-serif;
}

.main-navbar .navbar-light .navbar-nav .nav-link.active {
  color: #fff;
  border-bottom: 2px solid #f20000;
}

.main-navbar .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ddd;
}

.btn-nav-request {
  background-color: #f20000 !important;
  font-family: "Ropa Sans", sans-serif;
  color: #fff;
  font-size: 20px !important;
  padding: 9px 15px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  border-radius: 3px;
  letter-spacing: 1px !important;
}

.main-navbar .dropdown-menu {
  background-color: #160006;
  margin: 0;
  border-top: none;
  border-radius: 0;
}

.main-navbar .dropdown-item {
  color: #fff;
  font-size: 18px;
  font-family: "Ropa Sans", sans-serif;
}

.main-navbar .dropdown-item:hover {
  background-color: transparent;
  color: #ddd;
}

.main-navbar .dropdown .nav-link {
  position: relative;
  margin-right: 15px;
}

.main-navbar i.material-icons {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.hero-section {
  height: 100%;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.hero-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.hero-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.hero-text h1 {
  color: #fff;
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
}

.hero-text p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 30px 0;
  font-weight: 300;
}

.select-tournament {
  padding: 20px 0;
}

.select-tournament .title-default {
  font-size: 30px;
}

.select-tournament .title-helper {
  font-size: 24px;
}

.select-tournament-form {
  background-color: #f20000;
  padding: 35px;
  margin-top: -150px;
  margin-bottom: -150px;
  z-index: 10;
  position: relative;
}

.select-tournament-form .title-default, .select-tournament-form .title-helper, .select-tournament-form p, .select-tournament-form small {
  color: #fff;
}

.select-tournament-form small {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  margin-top: 10px;
}

.tournaments-wrapper {
  margin: 5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.tournaments-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.tournaments-wrapper:hover::after {
  background-color: rgba(0, 0, 0, 0.9);
}

.tournaments-box {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 35px;
  padding-top: 100px;
  z-index: 5555;
  transition: 0.5s;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.tournaments-info {
  display: none;
  padding-bottom: 25px;
  transition: 5s;
}

.tournaments-wrapper:hover .tournaments-info {
  display: block;
}

.tournaments-wrapper:hover .tournaments-box {
  background-color: transparent;
}

.tournaments-box h3, .tournaments-box p {
  color: #fff;
}

.tournaments-box h3 {
  font-family: "Ropa Sans", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.tournaments-box p {
  font-size: 16px;
  margin-bottom: 18px;
}

.tournaments-box .my-btn-alt {
  border: 2px solid #fff;
  font-size: 15px;
}

.testimonials {
  background-image: url("../images/Inferno-Martial-Arts_Footer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.testimonials::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.testimonials .carousel-item {
  padding-left: 150px;
  padding-right: 150px;
}

.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 50px;
}

.testimonials p {
  color: #fff;
  font-size: 20px;
}

.testimonials h5 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

.testimonials i {
  color: #FCAF17;
}

.request-info {
  background-color: #f20000;
}

.request-info p, .request-info .title-default, .request-info .title-helper {
  color: #fff;
}

.footer-top {
  background-image: url("../images/Inferno-Martial-Arts_Footer.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.footer-top::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.footer-top h3 {
  color: #fff;
  font-family: "Ropa Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.footer-top h5 {
  color: #fff;
  font-family: "Ropa Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.footer-top p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.footer-logo {
  max-width: 100px;
}

.footer-address-map {
  max-width: 240px;
  margin-top: 25px;
}

.footer-top .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 3px;
  padding-top: 3px;
}

.nav-footer-address .nav-link {
  padding-left: 0;
  position: relative;
  margin-left: 25px;
  margin-bottom: 0;
}

.nav-footer-address .nav-link i {
  position: absolute;
  top: 6px;
  left: -25px;
  font-size: 16px;
}

.nav-footer-social .nav-link {
  padding-left: 0;
}

.nav-footer-social .nav-link i {
  background-color: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  color: #000;
  font-size: 16px;
  transition: 0.5s;
}

.nav-footer-social .nav-link i:hover {
  background-color: #fff;
}

.nav-navigation .nav-link {
  padding-bottom: 2px;
  padding-top: 2px;
}

.nav-navigation > .nav-item > .nav-link {
  padding-left: 0;
}

.footer-bottom {
  background-color: #090002;
  padding: 10px 0;
  color: #fff;
}

.footer-bottom p, .footer-bottom a {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .top-header h2 span {
    display: block;
  }

  .hero-text h1 {
    font-size: 45px;
  }

  .btn-nav-request {
    font-size: 18px !important;
  }
}
@media (max-width: 991px) {
  .desktop-only {
    display: none;
  }

  .top-header h2 span {
    display: none;
  }

  .top-header table {
    width: 300px;
  }

  .fixed-top {
    background-color: #160006;
  }

  .navbar-collapse {
    background-color: #160006;
    padding-bottom: 35px;
  }

  .navbar-light .navbar-toggler {
    color: #ddd;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .select-tournament-form {
    margin-bottom: inherit;
  }

  .select-tournament {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .my-btn {
    font-size: 18px;
  }

  .title-default {
    font-size: 25px;
    line-height: 35px;
  }

  .title-helper {
    font-size: 18px;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .select-tournament-form {
    margin-top: -190px;
  }

  .testimonials .carousel-item {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-top h3 {
    font-size: 18px;
  }

  .footer-top h5 {
    font-size: 16px;
  }

  .tournaments-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  section {
    padding: 30px 0;
  }

  .top-header h2 a {
    font-size: 15px;
  }

  .hero-text h1 {
    font-size: 25px;
    line-height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
